<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">ActivShare</h5>
                <p class="grey-text text-lighten-3">Share and Log Your Acitivites</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-2" href="#!">Public Activities</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright teal lighten-1">
        <div class="container">
            © 2018 ActivShare
        </div>
    </div>
</footer>