<h1>Welcome</h1>
<p>Welcome to ActivShare.</p>
<p>Share completed activities as a personal log or share with others to inspire activity</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Google Login</a>