<h1>Welcome</h1>
<p>Welcome to ActivShare.</p>
<p>Share completed activities as a personal log or share with others to inspire activity</p>
{{#if user}}

{{else}}
<a class="btn teal lighten-1" href="/auth/google"><i class="fa fa-google left"></i> Google Login</a>
{{/if}}